:root {
  --bg-color: #1d2b53;
  --card-bg-color: #29366f;
  --text-color: #faf0e6;
  --accent-color: #ff004d;
  --progress-color: #ff004d;
  --font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--text-color);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; /* Começa com altura 0 */
  background-color: var(--progress-color);
  opacity: 0.2;
  z-index: 0;
  transition: height 1s linear;
}

.app-container {
  background-color: var(--card-bg-color);
  border-radius: 20px;
  padding: 2rem 3rem;
  width: 90%;
  max-width: 450px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

h1 {
  margin-top: 0;
}

.modes {
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  padding: 0.3rem;
  margin: 1.5rem 0;
}

.mode-button {
  flex: 1;
  border: none;
  background: none;
  color: var(--text-color);
  padding: 0.8rem;
  border-radius: 50px;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mode-button.active {
  background-color: var(--accent-color);
}

.timer-display {
  margin: 2rem 0;
}

#time-display {
  font-size: 5rem;
  font-weight: 700;
}

.controls button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 1rem 3rem;
  font-family: var(--font-family);
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 0, 77, 0.3);
  transition: all 0.3s ease;
  letter-spacing: 2px;
}

.controls button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 0, 77, 0.5);
}

.session-info {
  margin-top: 1.5rem;
  font-size: 1rem;
  opacity: 0.8;
}
